In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn import metrics
import datetime as dt

In [2]:
df=pd.read_csv('bangalore house price prediction OHE-data.csv')

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X=df.drop('price', axis=1)
y=df['price']

In [5]:
X

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,2,6916.666667,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,2900.0,3,11206.896552,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,1780.0,3,4765.730337,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,880.0,2,5454.545455,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,1000.0,2,5500.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,1400.0,3,5571.428571,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)

In [8]:
X_test

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2435,3.0,1.584376,1700.0,3,4705.882353,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3113,2.0,2.000000,1016.0,2,3937.007874,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
426,4.0,2.000000,1950.0,3,6153.846154,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1124,2.0,1.000000,1350.0,2,5851.851852,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1161,2.0,1.000000,850.0,2,5294.117647,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078,2.0,1.000000,1090.0,2,2600.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6855,3.0,1.000000,1585.0,3,5299.684543,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4381,1.0,2.000000,665.0,1,4812.030075,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3862,2.0,1.000000,1167.0,2,5398.457584,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2.0,0.000000,1566.0,2,11494.252874,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn.svm import SVR

## SVR rbf

In [10]:
svr_rbf=SVR(kernel='rbf')

In [11]:
svr_rbf.fit(X_train, y_train)
score=svr_rbf.score(X_test, y_test)
print(score)

0.32661458284449824

## SVR Linear

In [12]:
svr_linear=SVR(kernel='linear')

In [ ]:
svr_linear.fit(X_train, y_train)
score=svr_linear.score(X_test, y_test)
print(score)

In [49]:
y_pred=svr_linear.predict(X_test)

In [51]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.head(10)

      Actual   Predicted
2435    80.0   86.536735
3113    40.0   33.703908
426    120.0  122.483568
1124    79.0   81.295713
1161    45.0   40.780964
1724    39.0   35.463990
1110    53.0   53.926061
3591    78.0   79.846422
1978   101.0  101.558843
4383    62.0   63.654309